In [2]:
import pandas as pd
df = pd.read_csv('C:/Users/Nkechi Ijeoma/Downloads/chuka/curacel/regression_model/regression_model/datasets/complete_file.csv')
df

,Unnamed: 0,id,url,region,region_url,price,year,manufacturer,model,condition,...,size,type,paint_color,image_url,description,county,state,lat,long,ori_cost_prc
0,0,7088746062,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,10299,2012.0,acura,tl,NaN,...,NaN,other,blue,https://images.craigslist.org/01414_3LIXs9EO33...,2012 Acura TL Base 4dr Sedan Offered by: B...,NaN,nc,35.7636,-78.7443,125401
1,1,7088745301,https://greensboro.craigslist.org/ctd/d/bmw-3-...,greensboro,https://greensboro.craigslist.org,0,2011.0,bmw,335,NaN,...,NaN,convertible,blue,https://images.craigslist.org/00S0S_1kTatLGLxB...,BMW 3 Series 335i Convertible Navigation Dakot...,NaN,nc,NaN,NaN,124994
2,2,7088744126,https://greensboro.craigslist.org/cto/d/greens...,greensboro,https://greensboro.craigslist.org,9500,2011.0,jaguar,xf,excellent,...,NaN,NaN,blue,https://images.craigslist.org/00505_f22HGItCRp...,2011 jaguar XF premium - estate sale. Retired ...,NaN,nc,36.1032,-79.8794,114487
3,3,7088743681,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,3995,2004.0,honda,element,NaN,...,NaN,SUV,orange,https://images.craigslist.org/00E0E_eAUnhFF86M...,2004 Honda Element LX 4dr SUV Offered by: ...,NaN,nc,35.7636,-78.7443,122457
4,4,7074612539,https://lincoln.craigslist.org/ctd/d/gretna-20...,lincoln,https://lincoln.craigslist.org,41988,2016.0,chevrolet,silverado k2500hd,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00S0S_8msT7RQquO...,"Shop Indoors, Heated Showroom!!!www.gretnaauto...",NaN,ne,41.1345,-96.2458,147766
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,14995,7092292235,https://amarillo.craigslist.org/ctd/d/amarillo...,amarillo,https://amarillo.craigslist.org,14900,2007.0,ford,f-350 xlt 4x4 v-10,good,...,full-size,pickup,white,https://images.craigslist.org/00N0N_ercqkMtQtW...,"2007 FORD F-350 XLT, WHITE, GRAY CLOTH, 6.8L V...",NaN,tx,35.1919,-101.8210,128386
14996,14996,7090796678,https://southjersey.craigslist.org/ctd/d/bever...,south jersey,https://southjersey.craigslist.org,0,2009.0,ford,flex,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00l0l_aA6p1TcRFg...,Auto financing guaranteed! GUARANTEED! We fina...,NaN,nj,40.0535,-74.8932,101367
14997,14997,7079778377,https://annarbor.craigslist.org/ctd/d/chesanin...,ann arbor,https://annarbor.craigslist.org,7995,2010.0,buick,enclave,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00L0L_8KhY1avL7X...,WE HAVE OVER 500 VEHICLES IN STOCK! See our ...,NaN,mi,43.1824,-84.1122,146071
14998,14998,7083353880,https://hattiesburg.craigslist.org/cto/d/mosel...,hattiesburg,https://hattiesburg.craigslist.org,20000,2018.0,nissan,kicks sv,like new,...,NaN,NaN,grey,https://images.craigslist.org/00c0c_eCyVB4kIgs...,"2018 Nissan Kicks SV for sale. Asking $20,000 ...",NaN,ms,31.4836,-89.3206,125014
14999,14999,7092291959,https://amarillo.craigslist.org/ctd/d/amarillo...,amarillo,https://amarillo.craigslist.org,22995,2014.0,ford,f150,like new,...,full-size,pickup,white,https://images.craigslist.org/00y0y_gimprJKpew...,COME AND CHECK OUT THIS 2014 FORD F-150 WITH: ...,NaN,tx,35.1831,-101.8840,135517

In [3]:
train_df = df.head(12000)
test_df = df.tail(3000)

In [4]:
train_df = train_df[train_df['price']<=100000]
train_df = train_df[train_df['price']>=750]
train_df = train_df[train_df['year']>=1985]
# train_df = train_df.dropna()

test_df = test_df[test_df['price']<=100000]
test_df = test_df[test_df['price']>=750]
test_df = test_df[test_df['year']>=1985]
# test_df = test_df.dropna()
train_df

,Unnamed: 0,id,url,region,region_url,price,year,manufacturer,model,condition,...,size,type,paint_color,image_url,description,county,state,lat,long,ori_cost_prc
0,0,7088746062,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,10299,2012.0,acura,tl,NaN,...,NaN,other,blue,https://images.craigslist.org/01414_3LIXs9EO33...,2012 Acura TL Base 4dr Sedan Offered by: B...,NaN,nc,35.7636,-78.7443,125401
2,2,7088744126,https://greensboro.craigslist.org/cto/d/greens...,greensboro,https://greensboro.craigslist.org,9500,2011.0,jaguar,xf,excellent,...,NaN,NaN,blue,https://images.craigslist.org/00505_f22HGItCRp...,2011 jaguar XF premium - estate sale. Retired ...,NaN,nc,36.1032,-79.8794,114487
3,3,7088743681,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,3995,2004.0,honda,element,NaN,...,NaN,SUV,orange,https://images.craigslist.org/00E0E_eAUnhFF86M...,2004 Honda Element LX 4dr SUV Offered by: ...,NaN,nc,35.7636,-78.7443,122457
4,4,7074612539,https://lincoln.craigslist.org/ctd/d/gretna-20...,lincoln,https://lincoln.craigslist.org,41988,2016.0,chevrolet,silverado k2500hd,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00S0S_8msT7RQquO...,"Shop Indoors, Heated Showroom!!!www.gretnaauto...",NaN,ne,41.1345,-96.2458,147766
5,5,7088741557,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,12995,2015.0,kia,sportage,NaN,...,NaN,wagon,NaN,https://images.craigslist.org/00000_2qdQpZA2hK...,2015 Kia Sportage EX AWD 4dr SUV Offered b...,NaN,nc,35.7636,-78.7443,132985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,11995,7091476915,https://omaha.craigslist.org/ctd/d/bellevue-20...,omaha / council bluffs,https://omaha.craigslist.org,31900,2019.0,ford,ranger,excellent,...,compact,truck,black,https://images.craigslist.org/00p0p_HXiJItkxh3...,2019 Ford Ranger XLT - (Shadow Black) We c...,NaN,ia,41.1692,-95.9263,132398
11996,11996,7088917092,https://raleigh.craigslist.org/ctd/d/sanford-2...,raleigh / durham / CH,https://raleigh.craigslist.org,13995,2018.0,nissan,altima s sedan 2.5l auto,excellent,...,mid-size,sedan,black,https://images.craigslist.org/00q0q_5C2JGssKgN...,Sanford Auto Brokers LLC 1803 Keller Andrews R...,NaN,nc,35.4549,-79.2083,130269
11997,11997,7091083919,https://southjersey.craigslist.org/ctd/d/pitma...,south jersey,https://southjersey.craigslist.org,12999,2011.0,jeep,grand cherokee,excellent,...,full-size,SUV,grey,https://images.craigslist.org/00S0S_cZOiVm7rOq...,B AND N AUTO 501 N. DELSEA DRIVE SEWELL NJ 0...,NaN,nj,39.7562,-75.1106,145235
11998,11998,7079057439,https://worcester.craigslist.org/ctd/d/storrs-...,worcester / central MA,https://worcester.craigslist.org,9795,2007.0,toyota,rav4,NaN,...,NaN,wagon,silver,https://images.craigslist.org/00O0O_12XMphEt6q...,2007 Toyota RAV4 AWD Limited Offered by: E...,NaN,ma,41.7841,-72.2763,121055
11999,11999,7091082591,https://southjersey.craigslist.org/ctd/d/pitma...,south jersey,https://southjersey.craigslist.org,8999,2011.0,dodge,nitro heat 4x4,excellent,...,full-size,SUV,black,https://images.craigslist.org/00N0N_421XgnaeDJ...,"B & N Auto 501 N. Delsea Drive Sewell, NJ 0808...",NaN,nj,39.7562,-75.1106,143890

In [5]:
new_df = train_df.drop(['url','image_url', 'region_url', 'lat', 'long', 'region', 'description', 'vin', 'county', 'model'], axis=1)
new_df = new_df[['manufacturer', 'year','odometer', 'transmission', 'type', 'price', 'ori_cost_prc']]
new_df

      manufacturer    year  odometer transmission   type  price  ori_cost_prc
0            acura  2012.0   90186.0    automatic  other  10299        125401
2           jaguar  2011.0   85000.0    automatic    NaN   9500        114487
3            honda  2004.0  212526.0    automatic    SUV   3995        122457
4        chevrolet  2016.0       NaN    automatic    NaN  41988        147766
5              kia  2015.0   85127.0    automatic  wagon  12995        132985
...            ...     ...       ...          ...    ...    ...           ...
11995         ford  2019.0   12598.0    automatic  truck  31900        132398
11996       nissan  2018.0   42000.0    automatic  sedan  13995        130269
11997         jeep  2011.0   86264.0    automatic    SUV  12999        145235
11998       toyota  2007.0   92065.0    automatic  wagon   9795        121055
11999        dodge  2011.0  107077.0    automatic    SUV   8999        143890

[10267 rows x 7 columns]

In [6]:
new_df['manufacturer'] = new_df['manufacturer'].fillna(method='ffill')
new_df['type'] = new_df['type'].fillna(method='ffill')
new_df['odometer'] = new_df['odometer'].fillna(new_df['odometer'].median())
new_df['transmission'] = new_df['transmission'].fillna(method='ffill')

In [7]:
man_dict = {}
trans_dict = {}
type_dict={}
x=new_df['manufacturer'].unique()
y = new_df['transmission'].unique()
z= new_df['type'].unique()
for i in range(len(x)):
    man_dict[x[i]] = i
for i in range(len(y)):
    trans_dict[y[i]] = i
for i in range(len(z)):
    type_dict[z[i]]=i

In [8]:
new_df['manufacturer'] = new_df['manufacturer'].replace(man_dict)
new_df['transmission'] = new_df['transmission'].replace(trans_dict)
new_df['type'] = new_df['type'].replace(type_dict)

In [9]:
features = new_df.drop('price', axis=1)
target = new_df.price

In [10]:
from sklearn.model_selection import train_test_split

train_features, test_features, train_classes, test_classes = train_test_split(features, target, test_size=0.2, random_state=0)

In [11]:
#Standardizing the set of feature variables
from sklearn import preprocessing as prep

scaler = prep.StandardScaler()
train_features = pd.DataFrame(scaler.fit_transform(train_features), columns = train_features.columns)
test_features = pd.DataFrame(scaler.transform(test_features), columns = test_features.columns)

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

log_reg = LogisticRegression()
log_reg.fit(train_features, train_classes)
y_pred = log_reg.predict(test_features)

C:\Users\Nkechi Ijeoma\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [13]:
pd.DataFrame(y_pred)

          0
0      6995
1     16400
2      6995
3     19999
4      3500
...     ...
2049   6995
2050  19900
2051   6500
2052   3500
2053  19999

[2054 rows x 1 columns]

In [14]:
test_classes.values

array([33999, 20900,  8950, ...,  3900,  2599, 12995], dtype=int64)

In [35]:
import numpy as np
import pandas as pd
from sklearn.base import BaseEstimator, TransformerMixin

class DropUnecessaryFeatures(BaseEstimator, TransformerMixin):
    def __init__(self, variables=None):
        self.variables = variables
    
    def fit(self, X, y=None):
        return self

    def transform(self, X):
        # encode labels
        X = X.copy()
        X = X.drop(self.variables, axis=1)

        return X
    
class retainFields(BaseEstimator, TransformerMixin):
    def __init__(self, variables):
        self.variables = variables
        
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        X = X[self.variables]
        return X
    
        
class handleNulls(BaseEstimator, TransformerMixin):
    def __init__(self, variables=None):
        self.variables= variables
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        X = X.copy()
        X = X.fillna(method='ffill')
        return X

class fillOdom(BaseEstimator, TransformerMixin):
    def __init__(self, variable='odometer'):
        self.variable = variable
    
    def fit(self, X,y=None):
        self.odom_mode = X[self.variable].mode()[0]
        return self
    
    def transform(self, X):
        X=X.copy()
        X[self.variable] = X[self.variable].fillna(self.odom_mode)
        return X

class Manu_Encoder(BaseEstimator, TransformerMixin):
    def __init__(self, variables=None):
        self.variables= variables
        
    def fit(self, X,y=None):
               
        return self
    
    def transform(self, X):
        X = X.copy()
        man_dict = {}
        a = X[self.variables].unique()
        for i in range(len(a)):
            man_dict[[i]]=i 
        X[self.variables] = X[self.variables].replace(man_dict)     
        return X

class Trans_Encoder(BaseEstimator, TransformerMixin):
    def __init__(self, variables=None):
        self.variables= variables
        
    def fit(self, X,y=None):
               
        return self
    
    def transform(self, X):
        X = X.copy()
        trans_dict = {}
        a = X[self.variables].unique()
        for i in range(len(a)):
            trans_dict[a[i]]=i 
        X[self.variables] = X[self.variables].replace(trans_dict)     
        return X

class Type_Encoder(BaseEstimator, TransformerMixin):
    def __init__(self, variables=None):
        self.variables= variables
        
    def fit(self, X,y=None):
              
        return self
    
    def transform(self, X):
        X = X.copy()
        type_dict = {}
        a = X[self.variables].unique()
        for i in range(len(a)):
            type_dict[a[i]]=i  
        X[self.variables] = X[self.variables].replace(type_dict)     
        return X
    
# class CategoricalEncoder(BaseEstimator, TransformerMixin):
#     def __init__(self, variables=None):
#         self.variables= variables
        
#     def fit(self, X,y=None):
#         self.man_dict = man_dict
#         self.type_dict = type_dict
#         self.trans_dict = trans_dict
#         return self
    
#     def transform(self, X):
#         X = X.copy()
#         X[self.variables[0]] = X[self.variables[0]].replace(self.man_dict)
#         X[self.variables[1]] = X[self.variables[1]].replace(self.trans_dict)
#         X[self.variables[2]] = X[self.variables[2]].replace(self.type_dict)
        
#         return X

In [36]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

# from regression_model.processing import preprocessors as pp
# from regression_model.config import config

# import logging


# _logger = logging.getLogger(__name__)
cat_variables = ['manufacturer', 'transmission', 'type'] 

# ext_vars = ['price', 'year']
# null_vars = ['manufacturer', 'type', 'odometer', 'transmission']

vars_to_retain = ['manufacturer', 'year','odometer', 'transmission', 'type', 'ori_cost_prc']

variables_to_drop = ['url','image_url', 'region_url', 'lat', 'long', 'region', 'description', 'vin', 'county', 'model']


price_pipe = Pipeline(
    [
        ("DropUnecessaryFeatures", DropUnecessaryFeatures(variables_to_drop )),
        ("retainFields", retainFields(vars_to_retain)),
        ("fillOdom", fillOdom()),
        ("handleNulls", handleNulls()),
        ("Manu_Encoder", Manu_Encoder('manufacturer')),
        ("Type_Encoder", Type_Encoder('type')),
        ("Trans_Encoder", Trans_Encoder('transmission')),
        ("scaler", StandardScaler()),
        ("Linear_model", LogisticRegression()),
    ]
)

In [37]:
feat = train_df.drop('price', axis=1)
targ = train_df['price']

train_feat, test_feat, train_cls, test_cls = train_test_split(feat, targ, test_size=0.2, random_state=0)

In [38]:
price_pipe.fit(train_feat, train_cls)

TypeError: unhashable type: 'list'